client/ 
.vscode/
node_modules/
dist/
.DS_Store
.env
/.env.local
/.env.development
/.env.production
/.env.test
/.env.staging
/.env.development.local
/.env.production.local
/.env.test.local
/.env.staging.local
/.env.local.development

/.env.local.production
/.env.local.test
/.env.local.staging
/.env.development.local
.wwebjs_cache
.wwebjs_auth
/.wwebjs_cache
/.wwebjs_cache/*